.warning {
    color: red;
    padding: 8px;
    margin-top: 24px;
    text-shadow: 2px 2px 2px gray;
}

.navItem {
    padding: 4px 8px;
}

a {
    padding: 4px 8px;
    background-color: #eeeeee;
    text-decoration: underline;
    color:darkblue;
    font-weight: bold;
}
